@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientFlow 6s linear infinite;
}
